<div class="container">
  <!-- Mostrar la tienda actual seleccionada -->
  <div *ngIf="nombreTienda | async as nombreTienda" class="mb-3">
    <p>Tienda Actual: {{ nombreTienda }}</p>
  </div>

  <form (ngSubmit)="realizarPedido()">
    <div *ngIf="productosDisponibles$ | async as productos">
      <h2>Realizar Pedido</h2>
      <div *ngFor="let producto of productos">
        <label>
          <input type="checkbox" [value]="producto" (change)="toggleProducto(producto, $event)">
          {{ producto.nombre }} - {{ producto.descripcion }} - Precio: {{ producto.precioUnitario | currency }}
        </label>
        <input type="number" [(ngModel)]="producto.cantidad" placeholder="Cantidad" name="cantidad_{{ producto.id }}"> <!-- Input para seleccionar la cantidad -->
      </div>
      <button type="submit" class="btn btn-primary">Realizar Pedido</button>
    </div>
  </form>

  <ng-template #loadingProducts>
    <p>Cargando productos...</p>
  </ng-template>
</div>
