<h2>Lista de Pedidos</h2>

<!-- Desplegable de Tiendas -->
<div *ngIf="misTiendas.length > 0">
  <label for="selectTienda">Selecciona una tienda:</label>
  <select id="selectTienda" [(ngModel)]="tiendaSeleccionada" (change)="tiendaSeleccionada && tiendaSeleccionada.id && cargarPedidos(tiendaSeleccionada.id)">
    <option *ngFor="let tienda of misTiendas" [ngValue]="tienda">{{ tienda.nombreTienda }}</option>
  </select>
  
  
  
</div>

<!-- Lista de Pedidos -->
<div *ngIf="pedidos.length > 0">
  <h3>Pedidos de {{ tiendaSeleccionada?.nombreTienda }}</h3>
  <ul>
    <li *ngFor="let pedido of pedidos">
      <!-- Mostrar información del pedido -->
      
      <p>Pedido realizado:</p>
      <ul>
        <li *ngFor="let producto of pedido.listaPedidoCatalogo">
          <p>Nombre: {{ producto.nombre }}</p>
          <p>Cantidad: {{ producto.cantidad }}</p>
          <p>Precio Unitario: {{ producto.precioUnitario }}</p>
        </li>
      </ul>
      <p>Precio Total: {{ pedido.precioPedido }}</p>
    </li>
  </ul>
</div>
